{% extends "./partials/base.html.twig" %}

{% block content %}

	<section class="post">
		<header class="post-header" style="background-image: url({{ page.route }}/{{ page.header.cover_image }})">
			<div class="u-wrapper">
				<h1 class="post-header__heading">{{ page.header.title }}</h1>
				{% if child.header.publish_date %}
					<p class="post-header__date">{{ page.header.publish_date|nicetime(false) }}</p>
				{% else %}
					<p class="post-header__date">{{ page.date|nicetime(false) }}</p>
				{% endif %}
			</div>
			<div class="home-hero__bottom-mask">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="1920" height="133" viewBox="0 0 1920 133" enable-background="new 0 0 1920 133" xml:space="preserve"><path d="M825.6 132.1C597.6 129.1 461 0 261.5 0 180.4 0 84.9 31.4 0 68.7V133h1920V84.7c-106.2-34.2-243.1-63-397-62.4C1181.1 23.9 1053.5 135.1 825.6 132.1z"/></svg>
			</div>
		</header>
		<article class="post-article">
			<div class="u-wrapper post-article__wrapper">
				{{ page.content }}
			</div>
		</article>
	</section>

{% endblock %}
